<!-- Contact form -->

<div class="section">
    <form id="message-form">
        <h5>Contact Me</h5>
        <br>
        <div class="row">
            <div class="six columns">
                <label for="nameInput">Your name</label>
                <input class="u-full-width" type="text" placeholder="John Smith" id="nameInput">
                <label for="emailInput">Your email</label>
                <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="emailInput">
            </div>
        </div>
        <label for="messageInput">Message</label>
        <textarea class="u-full-width" placeholder="Hi Robert …" id="messageInput"></textarea>
        <input class="button" type="submit" value="Submit">
    </form>
</div>