<a class="nav-link" href="https://github.com/robertjhull/robertjhull.github.io">&#129044; To GitHub Repo</a>
<a class="nav-link disabled">
    <strong><%= summary.name %></strong> | <%= summary.occupation %>
</a>