<!-- List of personal projects -->

<div id="projects" class="section">
    <h4>Projects</h4>
    <br>
    <% projects.forEach((project) => { %>
        <div class="project-box">
            <h5><a href="<%= project.repo %>"><%= project.name %></a></h5>
            <p><%= project.description %></p>
            <p>
                <%if (project.tools.length > 0) { %>
                    <strong>Tech Stack: </strong>
                <% } %>
                <%= project.tools.split(",").join(" • ") %>
            </p>
        </div>
    <% }) %>
</div>