<!-- List of personal projects -->

<div class="section">
    <h5>Projects:</h5>
    <br>
    <% projects.forEach((project) => { %>
        <div class="project-box">
            <h6><a href="<%= project.repo %>"><%= project.name %></a></h6>
            <p><%= project.desc %></p>
            <p><strong>Tools: </strong><%= project.tools.join(" • ") %></p>
        </div>
    <% }) %>
</div>