<!-- Main bio and summary -->

<div id="summary" class="row section">
    <h4>About Me</h4>
    <br>
    <div class="row">
        <p><%= summary.description %></p>
        <p><strong>Languages:</strong> <%= summary.languages.split(",").join(" • ") %></p>
        <p><strong>Technologies/Frameworks:</strong> <%= summary.frameworks.split(",").join(" • ") %></p>
    </div>
    <div class="row">
        <%- include('./buttons') %>
    </div>
</div>