<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <nav>
            <%- include('./partials/nav') %>
        </nav>
        <main>
            <%- body %>
        </main>
    </body>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</html>