<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <nav>
            <%- include('../partials/nav') %>
        </nav>
        <hr>
        <main>
            <%- pageContents %>
        </main>
    </body>
    <hr>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>